.fullScreen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}
.content { 
  position: absolute;
  height: 300px;
  width: 600px;
  background-color: grey;
  top: 10%;
  right: 40%;
  padding: 10px 15px 15px 15px;
  border-radius: 15px;
  display: grid;
  color: whitesmoke;
}
h2{
    margin: 0;
    font-size: 2.4rem;
    font-weight: bolder;
    text-align: center;
}
.message{
    font-size: 1.2rem;
    text-align: center;
}
.buttons{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 30px;
    height: 30px;
    button{
        border-radius: 10px;
        font-size: 1rem;
        font-weight: bolder;
        cursor: pointer;
        padding: 0px 20px;
        color: whitesmoke;
        user-select: none;
    }
    button:hover{
        opacity: 0.8;
        transform: scale(1.05);
    }
}
.cancel{
    background-color: rgb(101, 105, 34);
}
.confirm{
    background-color: rgb(28, 71, 28);
}