version: '3.8'
services:
  identity-service:
    container_name: identityAPI
    build:
      context: ./ScrumMaster.Identity
      dockerfile: Dockerfile
    ports:
      - "2201:8080"

  sprints-service:
    container_name: sprintAPI
    build:
      context: ./ScrumMaster.Sprints
      dockerfile: Dockerfile
    ports:
      - "2202:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development

  tasks-service:
    container_name: taskAPI
    build:
      context: ./ScrumMaster.Tasks
      dockerfile: Dockerfile
    ports:
      - "2203:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development

  project-service:
    container_name: projectAPI
    build:
      context: ./ScrumMaster.Project
      dockerfile: Dockerfile
    ports:
      - "2205:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development

  scrum-master-ui:
    build:
      context: ./scrum-master-ui
      dockerfile: dockerfile.dev
    volumes:
      - ./scrum-master-ui:/app
      - /app/node_modules
    ports:
      - "2204:4200" 
    depends_on:
      - identity-service
      - sprints-service
      - tasks-service
    environment:
      - CHOKIDAR_USEPOLLING=true
    command: npm start
