@use 'variables' as *;
.MainSection{
    position: absolute;
    top:100px;
    right: 20%;
    width: 1300px;
    height: 800px;
    background-color: rgb(83, 86, 87);
    transform: scale(0);
    opacity: 0;
    transition:
    transform 220ms cubic-bezier(.2,.8,.2,1),
    opacity 120ms ease;
    will-change: transform, opacity;
    padding: 25px;
    border-radius: 14px;
    display: flex;
    flex-direction: row;
    padding-top: 55px;
}
.MainSection *{
    color: $light-font-color;
    font-family: $font-Noto;
}
.MainSection.open{
  transform: scale(1);
  opacity: 1;
}
.BackgroundSection{
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(255, 255, 255, 0.30);
}
.Exit{
    width: 25px;
    height: 25px;
    background-color: #7e7e7e;
    position: absolute;
    top:-10px;
    right: 12px;
    user-select: none;
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.2rem;
    border-radius: 6px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.Exit:hover{
    opacity: 0.8;
}
.Header{
    font-size: 2rem;
    font-weight: bolder;
}
.leftSection{
    width: 70%;
    display: grid;
}
.rightSection{
    width: 30%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap:5px;
    textarea{
        resize: none;
        padding: 5px;
        border-radius: 9px;
        background-color: #07070724;
        font-size: 0.8rem;
    }
}
.taskComments{
    background-color: #07070724;
    height: 90%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.CustomTextarea{
    height: 500px;
    width: 90%;
    resize: none;
    overflow-x: auto;
    background-color: #07070724;
    border: none;
}
.SendBtn{
    width: 30%;
    margin: auto;
    padding: 5px 10px;
    background-color: #07070724;
    border-radius: 15px;
    animation-duration: 0.5s;
}
.SendBtn:hover{
    opacity: 0.8;
    transform: scale(1.05);
}
.OneComment{
    font-size: 0.8rem;
    display: flex;
    position: relative;
    background-color: rgba(194, 185, 185, 0.14);
    border-radius: 14px;
    padding: 3px 4px;
    width: 75%;
}
.UserComment{
    margin-left: auto;
    background-color: #112957;
}
.SenderInfo{
    position: absolute;
    top: -25px;
    left: 10px;
    font-size: 0.7rem;
}
.ButtonsDiv{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    button{
        padding: 5px 10px;
        border-radius: 10px;
        user-select: none;
        width: 30%;
        cursor: pointer;
    }
    button:hover{
        opacity: 0.8;
        transform: scale(1.05);
    }
}
.EditBtn{
    background-color: #3a86ff;
    font-size:0.9rem;
    font-weight: bold;
}
.CloseBtn{
    background-color: #ffbe0b;
    font-size:0.9rem;
    font-weight: bold;
}
.DeleteBtn{
    background-color: #ff006e;
    font-size:0.9rem;
    font-weight: bold;
}