@use 'variables' as *;
.MainSection{
    width: 400px;
    margin: 100px auto;
    background-color: rgba(255,255,255,0.5);
    padding: 25px;
    border-radius: 15px;
}
.SubSection{ 
    display: flex;
    flex-direction: column;
    text-align: center;
    gap:10px;
}
.SubmitButton{
    padding: 10px 15px;
    width: auto;
    font-size: 1rem;
    background-color: #00ACC1;
    color: #ffffff;
    border-radius: 15px;
}
.SubmitButton:hover{
    background-color: #008B9A;
}
label{
    font-size: 1.1rem;
    font-weight: 800;
}
input{
    font-size: 1rem;
    text-align: center;
    border-radius: 15px;
    border:none;
    background-color: $font-color;
    color: $background-color;
    padding: 5px 6px;
}
h1{
    text-align: center;
    margin-top: 0;
}