<section class="MainSection">
    <h1>{{ 'Auth.RegisterHeader' | translate }}</h1>
    <form class="SubSection" (submit)="RegisterUser()" [formGroup]="registerForm">
        <label>{{ 'Auth.firstName' | translate}}:</label>
        <input formControlName="firstName" type="text" placeholder="{{ 'Auth.firstName' | translate}}" [class.invalid]="registerForm.controls['firstName'].invalid && (registerForm.controls['firstName'].dirty || registerForm.controls['firstName'].touched)">
        <label>{{ 'Auth.lastName' | translate}}:</label>
        <input formControlName="lastName" type="text" placeholder="{{ 'Auth.lastName' | translate}}" [class.invalid]="registerForm.controls['lastName'].invalid && (registerForm.controls['lastName'].dirty || registerForm.controls['lastName'].touched)">
        <label>{{ 'Auth.email' | translate}}:</label>
        <input formControlName="email" type="email" placeholder="{{ 'Auth.email' | translate}}" [class.invalid]="registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)">
        <label>{{ 'Auth.password' | translate}}:</label>
        <input formControlName="password" type="password" placeholder="{{ 'Auth.password' | translate}}" [class.invalid]="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)">
        <label>{{ 'Auth.confirmPassword' | translate}}:</label>
        <input formControlName="confirmPassword" type="password" placeholder="{{ 'Auth.confirmPassword' | translate}}" [class.invalid]="registerForm.controls['confirmPassword'].invalid && (registerForm.controls['confirmPassword'].dirty || registerForm.controls['confirmPassword'].touched)">
        <button type="submit" class="SubmitButton">{{ 'Auth.register' | translate}}</button>
    </form>  
    <button (click)="GoToLogin()" class="SubmitButton" style="width: 100%;">{{ 'Auth.login' | translate}}</button>
</section>