<section class="MainPanel">
  <p class="MenuItem" (click)="HomeLink()">{{ 'LeftMenu.Home' | translate }}</p>
  <p class="MenuItem" (click)="ShowSubMenu('sprint')">Sprint</p>
  @if (sprintMenu) {
    <div class="MenuSubMenu">
      <p class="MenuSubItem" (click)="SprintLink()">{{ 'LeftMenu.SprintList' | translate }}</p>
    </div>
  }
  <p class="MenuItem" (click)="ShowSubMenu('board')">{{ 'LeftMenu.Board' | translate }}</p>
  @if (boardMenu) {
    <div class="MenuSubMenu">
      <p class="MenuSubItem" (click)="SprintTaskLink()">{{ 'LeftMenu.SprintBoard' | translate }}</p>
    </div>
  }
  <p class="MenuItem" (click)="ShowSubMenu('ai')">{{ 'LeftMenu.AiAssistant' | translate }}</p>
  @if (AIAssistant) {
    <div class="MenuSubMenu">
      <p class="MenuSubItem">subHome</p>
      <p class="MenuSubItem">subHome</p>
      <p class="MenuSubItem">subHome</p>
    </div>
  }
</section>