<ng-container>
  <app-left-menu></app-left-menu>
  @if (taskStatuses) {
    <section class="body">
      <div class="board">
        @for (oneStatus of taskStatuses; track oneStatus) {
          <div class="OneColumn">
            <div class="columnHeader">
              {{`Task.${oneStatus.statusName}Status` | translate}}
              <app-add-btn tooltip='{{"Task.AddTask"| translate}}' (add)="AddTaskBtnClick(oneStatus.statusOrder)" [size]="20" class="AddBtnTask"></app-add-btn>
            </div>
            <div class="tasksColumn" 
              cdkDropList 
              [id]="listId(oneStatus.statusOrder)" 
              [cdkDropListConnectedTo]="connectedTo(oneStatus.statusOrder)" 
              [cdkDropListData]="getTasksByStatus(oneStatus.statusOrder)" 
              (cdkDropListDropped)="drop($event, oneStatus.statusOrder)"
            >
              @if(isLoading){
                <div class="loader"></div>
              }@else{
                @for (task of getTasksByStatus(oneStatus.statusOrder); track task) {
                  <div class="OneTask" (click)="ShowDetails(task.id)" cdkDrag [cdkDragData]="task">
                    <span class="TaskNumberSpan">
                      {{task.taskNumber}}
                    </span>
                    <p>{{task.title}}</p>
                    <p style="flex-basis: 100%;">{{'Task.AssignedUser'| translate}} {{ task.assignedUserFullName.trim() ? task.assignedUserFullName : ('Task.Unassigned' | translate) }}</p>
                  </div>
                }
              }
            </div>
          </div>
        }
      </div>
    </section>
  } @else {
    <div class="loader"><div></div></div>
  }
</ng-container>
<app-add-task [isOpen]="openModal" (closed)="openModal = false" [status]="addStatus" (submitted)="AddTask($event)"></app-add-task>
<app-task-details [taskId]="taskDetailsId" (closeEvent)="showDetailsModal=false" [isOpen]="showDetailsModal" (deleteEvent)="DeleteTask()"></app-task-details>
@if(errorModel.show)
{
  <app-custom-alert [errorModel]="errorModel" (closeEvent)="errorModel.hide()"></app-custom-alert>
}