<ng-container>
        <app-left-menu></app-left-menu>
        <ng-container *ngIf="taskStatuses;else loader">
            <section class="body">
                <div class="board">
                    <div class="OneColumn" *ngFor="let oneStatus of taskStatuses">
                        <div class="columnHeader">
                            {{`Task.${oneStatus.statusName}Status` | translate}}
                            <app-add-btn tooltip='{{"Task.AddTask"| translate}}' (add)="AddTaskBtnClick(oneStatus.statusOrder)" [size]="20" class="AddBtnTask"></app-add-btn>
                        </div>
                        <div class="tasksColumn">
                            <div *ngFor="let task of getTasksByStatus(oneStatus.statusOrder)" class="OneTask">
                                <span class="TaskNumberSpan">
                                    {{task.taskNumber}}
                                </span>
                                {{task.title}}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </ng-container>
</ng-container>
<ng-template #loader>
        <div class="loader"><div></div></div>
</ng-template>
<app-add-task [isOpen]="openModal" (closed)="openModal = false" [status]="addStatus" (submitted)="AddTask($event)"></app-add-task>