<app-left-menu></app-left-menu>
@if (!isLoading) {
  <section>
    @if (boardDTO.projectDescription) {
      <section class="body">
        <section class="ProjectNameSection">
          <h1>{{this.boardDTO.projectName}}</h1>
        </section>
        <section class="BodySection">
          <div class="LeftModal">
            <h2>{{"Board.ShortDescription" | translate}}</h2>
            <p>{{this.boardDTO.projectDescription}}</p>
          </div>
          <div class="RightModal">
            <h3>{{"Board.Users" | translate}}</h3>
            @if(CanManageMembers()) {
              <app-add-btn class="AddMemebers" [tooltip]='"Board.AddMember"|translate' (add)="openNewMember = true"></app-add-btn>
            }
            <section class="MembersSection">
              @for (item of this.boardDTO.members; track item) {
                <p class="OneMember" [routerLink]="['/User/Details',item.id]">{{item.shortcut}}
                  <span class="ToolTipText">{{item.firstName}} {{item.lastName}}</span>
                </p>
              }
            </section>
          </div>
        </section>
      </section>
    }
  </section>
} @else {
  <div class="loader"><div></div></div>
}
<app-mange-members [isOpen]="openNewMember" (closeModal)="OnClose()"></app-mange-members>