<app-left-menu></app-left-menu>
<section class="body">
    <section class="BoardHeader">
        <app-add-btn [tooltip]="'Board.AddTask' | translate" [size]="25"></app-add-btn>
        <select>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </section>
    <table>
        <section *ngIf="taskStatuses" class="BoardColumn">
            <thead>
                <ng-container *ngFor="let oneStatus of taskStatuses" >
                    <th>
                        {{oneStatus.statusName}}
                    </th>
                </ng-container>
            </thead>
        </section>
    </table>
</section>
