<section>
    <a [routerLink]="['']" >
        <img height="50px" src="LogoScrumMaster.png">
    </a>
    <ng-container *ngIf="IsLogin()">
            <div>
                <p>Twój aktualny projekt</p>
            </div>
        </ng-container> 
    <div class="rightMenu">         
        <p (click)="setTransLanguage()">{{'Main.changeLanguage'|translate}}</p>          
        <p *ngIf="IsLogin()" (click)="showMenu = !showMenu">{{'Main.hello'|translate}} <b>{{GetUserName()}}</b></p>
        <div class="dropdownMenu">
            <app-dropdown *ngIf="showMenu" (closeEvent)="showMenu = false"></app-dropdown>
        </div>
    </div>
</section>
<router-outlet />