section{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 200px;
    right: 40%;
    left: 40%;
    background-color: #E3F2FD;
    padding: 25px;
    text-align: center;
    border-radius: 25px;
    backdrop-filter: blur(5px);
    color: #212121; 
    box-shadow: 5px 7px 10px rgba(0,0,0,0.5);
    border: .5px solid #BBDEFB;
    z-index: 999;
}
h1{
    color:rgb(182, 65, 65);
    font-weight: bolder;
    font-size: 2rem;
    margin-bottom: 10px;
    margin-top: 0;
}
p{
    font-size:1.1rem;
    font-weight: 300;
}
.OkButton{
    background-color: #759299;
    width: 30%;
    margin: auto;
    padding: 5px 15px;
    border-radius: 15px;
    color: white;
    font-weight: bolder;
    font-size: 1.3rem;
    user-select: none;
    cursor: pointer;
}
.OkButton:hover{
    opacity: 0.8;
}