/* pełny ekran */
.overlay{
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: grid;
  place-items: center;
  z-index: 9;
  padding: 16px;
}

/* środek */
.modal{
  width: min(680px, 100%);
  max-height: min(80vh, 720px);
  background: #111;
  color: #fff;
  border: 1px solid rgba(255,255,255,0.12);
  border-radius: 16px;
  box-shadow: 0 20px 60px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 10px;
  padding: 25px;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 16px;
  border-bottom: 1px solid rgba(255,255,255,0.08);
}

.header h2{
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.x{
  background: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  padding: 6px 10px;
  border-radius: 10px;
}
.x:hover{
  background: rgba(255,255,255,0.08);
}

.search{
  margin: 14px 16px 10px;
  padding: 10px 12px;
  border-radius: 12px;
  border: 1px solid rgba(255,255,255,0.12);
  background: rgba(255,255,255,0.06);
  color: #fff;
  outline: none;
}
.search:focus{
  border-color: rgba(255,255,255,0.28);
}

.list{
  padding: 6px 10px 14px;
  overflow: auto;
}

.row{
  width: 55%;
  text-align: left;
  padding: 10px 12px;
  margin: 6px;
  border-radius: 12px;
  border: 1px solid rgba(255,255,255,0.08);
  background: rgba(255,255,255,0.04);
  color: #fff;
  cursor: pointer;
}
.row:hover{
  background: rgba(255,255,255,0.08);
}

.empty{
  padding: 18px 12px;
  opacity: 0.8;
}
.selected{
  background: rgba(255, 255, 255, 0.363);
}
.roleSelect{
  width: 100%;
  padding: 10px 12px;
  border-radius: 12px;
  border: 1px solid rgba(255,255,255,0.12);
  background: rgba(255,255,255,0.06);
  color: #fff;
  outline: none;
  option{
    background-color: rgba(29, 26, 26, 0.445);
    border:none;
  }
}
.btn{
  width: 100%;
  padding: 10px 12px;
  border-radius: 12px;
  border: 1px solid rgba(255,255,255,0.12);
  background: rgba(255,255,255,0.10);
  color: #fff;
  cursor: pointer;
}
.btn:hover{
  background: rgba(255,255,255,0.14);
}