.menu {
  margin-top: 5px;
  padding: 20px;
  background-color: rgba(80, 78, 78, 0.37);
  display: flex;
  flex-direction: column;
  gap:10px;
  border-radius: 0px 0px 15px 15px;
}

.menu-item {
  border-radius: 14px;
  padding: 5px 15px;
  text-align: center;
  background-color: rgba(80,78,78,0.37);
  user-select: none;
  cursor: pointer;
  color:whitesmoke;
}
.menu-item:hover{
  background-color: rgba(80,78,78,0.6);
}