<ng-container>
  <app-left-menu></app-left-menu>
  @if (spintsDTO) {
    <section class="body">
      <h1>Lista sprintów</h1>
      <app-add-btn tooltip='{{"Sprint.AddSprintToolTip" | translate}}' (add)="isModalOpen=true" class="AddBtn" [size]="35"></app-add-btn>
      @if (spintsDTO.length > 0) {
      } @else {
        <div>
          <p class="EmptyInfo">{{"Sprint.EmptySprints" | translate}}</p>
        </div>
      }
      @for (sprint of spintsDTO; track sprint; let i = $index) {
        <p [routerLink]="['/Sprint',queryParameter.getQueryParam('id'),'Board',sprint.sprintId]" class="OneSprint">{{i+1}}. {{sprint.sprintName}}</p>
      }
    </section>
  } @else {
    <div class="loader"><div></div></div>
  }

</ng-container>
<app-add-sprint [isOpen]="isModalOpen" (closed)="isModalOpen = false" (submitted)="CreateSprint($event)"></app-add-sprint>
@if (errorModel.show) {
  <app-custom-alert [errorModel]="errorModel" (closeEvent)="errorModel.hide()"></app-custom-alert>
}