.body{
  h1{
    text-align: center;
  }
}
.AddBtn{
  position: absolute;
  top: 70px;
  right: 40%;
  height: 50px;
  width: 50px;
}
.EmptyInfo{
    font-weight: 400;
    text-align: center;
    font-size: 1.4rem;
}
.OneSprint{
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
}
.OneSprint:hover{
  opacity: 0.6;
}