@use 'variables' as *;
.ButtonSection{
    display: flex;
    flex-direction: column;
    gap:15px;
    margin: auto;
    width: 15%;
    text-align: center;
}
h1{
    text-align: center;
    margin-top:80px;
    color: $font-color;
}