@use 'variables' as *;
.ButtonSection{
    display: flex;
    flex-direction: column;
    gap:15px;
    margin: auto;
    width: 15%;
    text-align: center;
}
h1{
    text-align: center;
    margin-top:80px;
    color: $font-color;
}
.linkBtn{
    color: $background-color;
    background-color: gray;
    padding: 6px 15px;
    border-radius: 14px;
}
.linkBtn:hover{
    opacity: 0.8;
}