<section class="MainSection">
    <h1>{{ 'Auth.LoginHeader' | translate }}</h1>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="SubSection">
            <label>{{ 'Auth.email' | translate}}:</label>
            <input type="email" name="email" id="email" formControlName="email" placeholder="{{ 'Auth.email' | translate}}">
            <label>{{ 'Auth.password' | translate}}:</label>
            <input type="password" name="password" id="password" formControlName="password" placeholder="{{ 'Auth.password' | translate}}">
            <ng-container *ngIf="!isLoginClick;else loader">             
                <button type="submit" class="SubmitButton">{{ 'Auth.login' | translate}}</button>
            </ng-container>
            <ng-template #loader>
                <div class="loader"></div>
            </ng-template>
            </form>
        
        <button [routerLink]="['/Register']" routerLinkActive="router-link-active"  class="SubmitButton" type="menu" style="width: 100%;margin-top:15px">{{ 'Auth.register' | translate}}</button>
</section>
<app-custom-alert [title]="title" [errors]="errors" *ngIf="showModal" (closeEvent)="showModal = false"></app-custom-alert>